.navaback{
	background-color: black;
}
.nava{
	position: fixed;
	top: 0;
	z-index: 2;
	background-color:black;
	width: 100%;
	height: 80px;
	color:white;
}
.nava .logo{
	font-size: 3rem;
}
.nava .logo{
	margin-left: 20px;
	/*display: inline-block;*/
	margin-top: 5px;
}

.navbar {
	border-radius: 0px;
	border-color: black;

}
/*.nava .right .como_funciona{
	background: none !important;
	border: 1px solid white !important;

}
*/

.nava .right .btn-circle{
	font-size: 1.5rem;
	background: none !important;
	border: 1px solid white !important;
	border-radius: 10px;
	color:#fff;
}

.liss {
	padding-left: 5px; 
	padding-top: 15px;
}
/*.nava ul li, .nava ul, .nava h2{
	display: inline-block;
}*/

/*.right{
	display: none;
}
*/
/*.rigthh{
	display:none;
} */
/*@media (min-width:800px ){
	.right{
		display: inline-block;
		float: right;
		padding-top: 5px;
		margin-right: 0px;
		padding-right: 20px;
	}

}
	

@media (max-width: 799px){	
	.rigthh {
		display: inline-block;
		float: right;
		padding-top: 15px;
		margin-right: 0px;
		padding-right: 20px;
		font-size: 2em;
	}

	.right{

	}
	
}*/
	

.white{
	background: white;
	color:black;

	transition:all 0.5s ease;
	font-size: 2rem;
}
.white:hover, .white:visited{
	background: black;
	color:white;
	border: 1px solid white;
}

.btn:focus{
	background: black;
	color:white;
	border: 1px solid white;
}