/*.container_userData{
  margin: 15% 0%;
}*/
.container_userData strong{
  display: block;
  text-align: center;
  margin-bottom: 5%;
}
.container_userData .containder_userImg{
  width: 50%;
  display: inline-block;
}
.container_userData .containder_userImg img{
  border-radius: 30%;
}
.perfil .panel-dark > .panel-heading{
  background-color: black;
  border-color: black;
  color: white;
}
.perfil{
  margin-top: 5%;
}


.sub-menu-perfil li{

  display: inline-block;
} 
hr.hrPerfil{

  width: 100px;
  
  border-top: solid #a8a2ae 2px;
}

div.title-car{

  color:#fff !important;
  background-color: #414042 !important;

}