{%extends 'base.html'%}
{%load vehicles_finances_tags%}
{%load static%}
{%load humanize%}
{%block title%}
	Profile
{%endblock title%}


{%block styles%}
	<style type="text/css">
  		section { padding-bottom: 600px; }
  		.modal-bodys {
    		max-height: calc(90vh - 210px);
    		overflow-y: auto;
		}
		.modal-bodysf {
    		max-height: calc(90vh - 210px);
    		overflow-y: auto;
		}
	</style>
	<link rel="stylesheet" type="text/css" href="{%static 'css/profile/_profile.css'%}">
{%endblock styles%}

{%block content%}
	<section>
		<div class="container">
			<div class="perfil row">

				<article class="col-sm-12 col-md-4 text-center">
					<div class="container_userData">
						<h2>Bienvenido a tu perfil</h2>
						<figure class="containder_userImg">
							<img class="img-responsive"  src="http://graph.facebook.com/{{request.user.client.ide}}/picture?type=large" alt="Foto de Perfil">
						</figure>
						<h3>{{request.user.username|upper}}</h3>
						<hr class="hrPerfil">
						<strong>{{request.user.email}}</strong>
					</div>
				</article>

				<article class="col-sm-12 col-md-8">
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#garage" aria-controls="garage" role="tab" data-toggle="tab">
								<i class="fa fa-car">Mi garage</i>
							</a>
						</li>
						<li role="presentation">
							<a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
								<i class="fa fa-user">Datos de Perfil</i>
							</a>
						</li>
						<li role="presentation">
							<a href="#pagos" aria-controls="pagos" role="tab" data-toggle="tab">
								<i class="fa fa-dollar">Detalle de Pagos</i>
							</a>
						</li>
					</ul>

					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="garage">
							<div class="panel-group" id="acordion" role="tablist" aria-multiselectable="true">	
								<div class="panel panel-default">
								{%for ga in garage%}
									
									<div class="panel-heading" role="tab" id="headingOne{{forloop.counter}}">
										<h4 class="panel-title">
											<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{forloop.counter}}" aria-expanded="true" aria-controls="collapseOne{{forloop.counter}}">
												<strong>{{ga.user_vehicle.vehicle.name}}</strong>
											</a>
										</h4>
									</div>

									<div id="collapseOne{{forloop.counter}}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne{{forloop.counter}}">
										<div class="panel-body">
											<div class="col-sm-12 col-md-6">
												<ul class="list-group">
	                                                <li class="list-group-item"><strong>{{ga.user_vehicle.vehicle.trademark.name}}</strong></li>
	                                                <li class="list-group-item">{{ga.user_vehicle.version}}</li>
	                                                <li class="list-group-item">
														{%if ga.monthly_payment == 48%}
															Primer mes de {{ga.user_vehicle.fee_mounth_48|floatformat:2|intcomma}}
														{%else%}
															Primer mes de {{ga.user_vehicle.fee_mounth_60|floatformat:2|intcomma}}
														{%endif%}
	                                                </li>
	                                                <li class="list-group-item">
														Inscripción {{ga.user_vehicle.fee_inscription|floatformat:2|intcomma}}
	                                                </li>
                                            	</ul>
                                            	<div class="col-sm-offset-6 col-md-offset-4">
                                            		<img src="{{ga.user_vehicle.vehicle.trademark.logo.url}}" style="width: 20%" alt="" class="img-responsive img-circle">
                                            	</div>
											</div>
											<figure class="col-sm-12 col-md-6">
												<img class="img-responsive" src="{{ga.user_vehicle.img_v1.url}}" alt="Volkswagen"> 
											</figure>
											<div class="col-md-12 text-center">
                                            	{%if ga.status%}
                                            		<a class="btn btn-success" href="#" disabled="disabled">
                                            			Este auto esta en Financiamiento
                                            		</a>
                                            	{%else%}
                                            		<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalFinaciamiento">
                                            			Empieza a Financiarlo
                                            		</button>
                                            	{%endif%}
                                        	</div>
										</div>
									</div>
									
									{%empty%}
									<h4>Aun no agregas ningun Auto a tu garage</h4>
									<h4><a href="{% url 'catalogo:catalog'%}">Busca el mejor auto para ti aquí...</a></h4>
									{%endfor%}
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="profile">
							<h5>Mi perfil</h5>
							<div class="progress col-sm-12 col-md-12" style="margin-top:2%;">
		                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
		                            	60%
		                        </div>
		                    </div>
		                    <div class="col-md-12">
		                    	Datos de Usuario
		                    	<form role="form" action="." method="post">
		                    		<div class="form-group">
										{%csrf_token%}
										{{userform.as_p}}
										<input class="btn btn-primary" type="Submit" name="Guardar" placeholder="Guardar Tu Informacion">
		                    		</div>
								</form>
								<h2>Tu información</h2>
								<h4><strong>Dirección</strong></h4>
								<h4>{{profile.address}}</h4>
								<h4><strong>Número Telefonico</strong></h4>
								<h4>{{profile.phone_num}}</h4>
								<h4><strong>Fecha de Nacimiento</strong></h4>
								<h4>{{profile.birthday}}</h4>
								<h4><strong>RFC</strong></h4>
								<h4>{{profile.rfc}}</h4>
								<h4><strong>Curp</strong></h4>
								<h4>{{profile.curp}}</h4>
								<h4><strong>Género</strong></h4>
								<h4>{{profile.gender}}</h4>
								<h4><strong>Nacionalidad</strong></h4>
								<h4>{{profile.nationality}}</h4>
								<h4><strong>Estado Civil</strong></h4>
								<h4>{{profile.marital_status}}</h4>
								<h4><strong>Escolaridad</strong></h4>
								<h4>{{profile.scholarship}}</h4>
								<h4><strong>Ocupación</strong></h4>
								<h4>{{profile.ocuppation}}</h4>
								<h4><strong>Salario</strong></h4>
								<h4>{{profile.salary}}</h4>
		                    </div>
						</div>
						<div role="tabpanel" class="tab-pane" id="pagos">
								{%show_payments%}

						</div>
					</div>
				</article>

			</div>
		</div> <!--container-->



<!-- Inicio Modal Financiamiento -->
		<div class="modal fade" id="modalFinaciamiento" tabindex="-1" role="dialog" aria-labelledby="modalFinaciamientoLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="modalFinaciamientoLabel">
							Felicidades estas por adquirir tu financiamiento
						</h4>
					</div>

					<div class="modal-body">
						<h1>Terminos y Condiciones</h1>
						<div class="modal-bodys text-justify">
							<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda nobis est dignissimos possimus, molestiae illum? Aliquam, provident, consequuntur nesciunt at ut dolore, doloremque error quis expedita suscipit mollitia rem debitis.</div>
							<div>At hic, ducimus iure temporibus consectetur quas dolorum cupiditate corporis illum molestiae minus rerum illo sint necessitatibus mollitia commodi voluptates omnis quaerat nesciunt! Laboriosam tempora in vel iste accusamus, quas.</div>
							<div>Harum excepturi error natus alias architecto, veritatis consequuntur atque, sed praesentium delectus quidem quos aliquam recusandae quas quibusdam ullam rerum blanditiis exercitationem non! Ad vero officiis eius consequatur culpa libero.</div>
							<div>Ducimus nulla quod repudiandae vitae ratione, accusamus minima, officia suscipit optio. Nisi explicabo placeat excepturi ut a reprehenderit quos, numquam officiis similique, porro, voluptate fugiat quod nesciunt ad velit, quaerat!</div>
							<div>Asperiores eligendi cupiditate officiis est dolores, adipisci, quia doloribus, veniam voluptatem vel placeat provident exercitationem nobis a doloremque accusamus in nihil quo soluta laboriosam. Beatae eius, dolor natus itaque non.</div>
							<div>Praesentium dolorem quo sapiente dolor molestiae, vel quod possimus atque dolores error debitis temporibus incidunt impedit minus fugiat consequatur ducimus quidem iure sequi voluptate dolore inventore nulla expedita. Dolorem, nisi!</div>
							<div>Similique odio est molestias animi explicabo, cupiditate rem saepe sequi tenetur deserunt temporibus tempore. Fugit beatae qui, rem libero, cupiditate perferendis sed, nobis est doloremque tempora facere, quia ullam numquam.</div>
							<div>Incidunt possimus voluptas aperiam saepe quam nostrum ipsa architecto delectus fuga odit quo, cum illo officiis dolor cumque perspiciatis a rerum eum harum. Aspernatur totam animi quaerat maxime? Ducimus, maxime.</div>
							<div>Vitae modi, totam libero! Laudantium quas totam recusandae consequatur asperiores doloribus quaerat voluptates culpa delectus porro ex qui aliquid ratione numquam dicta mollitia, odio, ad, placeat alias accusamus facilis cumque!</div>
							<div>Vero placeat laudantium obcaecati ex error nobis cumque numquam minima deserunt est dolorem reprehenderit eligendi soluta at sequi vitae debitis sed maxime, accusamus et? Ea corporis tenetur ducimus doloribus officia!</div>
							<div>Quibusdam nam, esse labore impedit culpa repellat minus quas a qui beatae totam sunt sint optio hic accusamus nihil quaerat. Laboriosam quis labore libero modi sapiente assumenda eveniet, a non.</div>
							<div>Veritatis neque culpa quasi optio aspernatur voluptate, ipsum. Aspernatur soluta dicta harum vero rerum cumque, omnis obcaecati enim sapiente pariatur! Ad magnam voluptas fuga at porro quos veritatis, ullam ipsa!</div>
							<div>Praesentium fugiat magnam sequi aut veritatis cum cupiditate, impedit iure ad doloribus nemo debitis non voluptatem sint soluta blanditiis similique incidunt quisquam distinctio porro, explicabo natus, culpa! Dolore, aliquid, nemo.</div>
							<div>Voluptatibus dolorem inventore, sequi deserunt praesentium dolores asperiores distinctio quas consectetur sit sint atque recusandae quaerat reiciendis blanditiis magnam ea aut, et, ipsam ipsa optio velit, dolor consequatur nostrum! Saepe?</div>
							<div>Corporis veniam debitis cumque qui quasi beatae voluptatem, fugiat eos ut nemo reprehenderit aut impedit sequi esse velit ducimus tempore doloribus itaque distinctio officiis hic ratione, sit. Architecto velit, expedita.</div>
							<div>Corporis excepturi numquam esse, officiis consequatur aut odit a voluptate ab, in facilis reprehenderit quidem sapiente doloribus fuga dolores, repellendus beatae nihil! Rerum ratione vel ipsam fugiat adipisci aperiam ipsa.</div>
							<div>Blanditiis quisquam error id nulla, consequatur odit totam iste nihil officia ad consectetur voluptate illum, minima aliquam ea dolore, voluptatem magnam dicta. At nemo ex est, repellat placeat odio vel.</div>
							<div>Deleniti voluptate sequi ducimus maiores, incidunt labore architecto laudantium repudiandae cum facere officiis impedit quod asperiores eaque, optio ipsam consequuntur consequatur animi! Doloremque mollitia assumenda dolore et accusantium rerum repellendus!</div>
							<div>Eius ducimus, quas voluptas at nihil aliquam quod voluptates, repellendus consequatur dolore porro exercitationem aut molestias iste odio et, quam earum, enim nam fugit nostrum accusamus in vero voluptatum. Consequuntur.</div>
							<div>Deleniti recusandae assumenda iste eveniet suscipit ullam ipsa voluptatibus ipsam eligendi neque veritatis fugiat vitae commodi, tempore, consequuntur repellendus voluptas accusantium aperiam maxime. Doloremque debitis in molestias ratione, quae ipsum.</div>
						</div>
						<div class="checkbox">
							<label>
						    	<input type="checkbox" value="" id="checktyc">
						    	Acepto Terminos y Condiciones
							</label>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary btn-lg aceptermsycond">
								<i class="fa fa-hand-o-right" aria-hidden="true"></i>
								Continuar
						</button>
					</div>
				</div>
			</div>
		</div>


		<!-- Modal Formulario -->
		<div class="modal fade bs-example-modal-lg" id="modalFormu" tabindex="-1" role="dialog" aria-labelledby="modalFormuLabel">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="modalFormuLabel">
							Felicidades estas por adquirir tu financiamiento
						</h4>
					</div>

					<div class="modal-body">
						<div class="modal-bodysf">
							<form role="form" action="." method="post">
							  	{%csrf_token%}
							  	{{proof.as_p}}
							  <input class="btn btn-primary" type="Submit" name="Salvar" placeholder="Guardar">
							</form>
						</div>
					</div>

					<div class="modal-footer">
						<button type="button" class="btn btn-success btn-lg">
							<div class="col-md-1">
								<i class="fa fa-shopping-cart" aria-hidden="true"></i> 
							</div>
							<div class="col-md-9">
								Financiar							
							</div>
						</button>
					</div>
				</div>
			</div>
		</div>
	<!-- Data Tables -->
	</section>


{%endblock content%}
	

	{%block scripts%}
		<script type="text/javascript">
			$(document).ready(function(){
				$('.aceptermsycond').click(function(){
					if ($('#checktyc').is(':checked')) {
						$('#modalFinaciamiento').modal("toggle");
						$('#modalFormu').modal("toggle");
					} else {
						alert("Debes aceptar terminos y condiciones")
					}
				})
			})
		</script>
	{%endblock scripts%}	

