{%extends 'base.html'%}
{%load static%}
{%load humanize%}
{%block title%}
	Profile
{%endblock title%}
r 
{%block styles%}
	<style type="text/css">
  		section { padding-bottom: 600px; }
	</style>
	<link rel="stylesheet" type="text/css" href="{%static 'css/profile/_profile.css'%}">
{%endblock styles%}

{%block content%}
	<section>
		<div class="container">
			<div class="perfil row">

				<article class="col-sm-12 col-md-4 text-center">
					<div class="container_userData">
						<h2>Bienvenido a tu perfil {{request.user.username}}</h2>
						<figure class="containder_userImg">
							<img class="img-responsive" src="{%if request.user.client.photo%}{{request.user.client.photo.url}}{%endif%}" alt="Foto de Perfil" >
						</figure>
						<h3>{{request.user.username}}</h3>
						<hr class="hrPerfil">
						<strong>{{request.user.email}}</strong>
					</div>
				</article>

				<article class="col-sm-12 col-md-8">
					<ul class="nav nav-tabs" role="tablist">
						<li role="presentation" class="active">
							<a href="#garage" aria-controls="garage" role="tab" data-toggle="tab">
								<i class="fa fa-car">Mi garage</i>
							</a>
						</li>
						<li role="presentation">
							<a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
								<i class="fa fa-user">Datos de Perfil</i>
							</a>
						</li>
						<li role="presentation">
							<a href="#pagos" aria-controls="pagos" role="tab" data-toggle="tab">
								<i class="fa fa-dollar">Detalle de Pagos</i>
							</a>
						</li>
					</ul>

					<div class="tab-content">
						<div role="tabpanel" class="tab-pane fade in active" id="garage">
							<div class="panel-group" id="acordion" role="tablist" aria-multiselectable="true">	
								<div class="panel panel-default">
								{%for ga in garage%}
									
									<div class="panel-heading" role="tab" id="headingOne{{forloop.counter}}">
										<h4 class="panel-title">
											<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne{{forloop.counter}}" aria-expanded="true" aria-controls="collapseOne{{forloop.counter}}">
												<strong>{{ga.user_vehicle.vehicle.name}}</strong>
											</a>
										</h4>
									</div>

									<div id="collapseOne{{forloop.counter}}" class="panel-collapse collapse {%if forloop.first%}in{%endif%}" role="tabpanel" aria-labelledby="headingOne{{forloop.counter}}">
										<div class="panel-body">
											<div class="col-sm-12 col-md-6">
												<ul class="list-group">
	                                                <li class="list-group-item"><strong>{{ga.user_vehicle.vehicle.trademark.name}}</strong></li>
	                                                <li class="list-group-item">{{ga.user_vehicle.version}}</li>
	                                                <li class="list-group-item">
	                                                	<a href="#">
															{%if ga.monthly_payment == 40%}
																Primer mes de {{ga.user_vehicle.fee_mounth_48|floatformat:2|intcomma}}
															{%else%}
																Primer mes de {{ga.user_vehicle.fee_mounth_60|floatformat:2|intcomma}}
															{%endif%}
	                                                	</a>
	                                                </li>
                                            	</ul>
											</div>
											<figure class="col-sm-12 col-md-6">
												<img class="img-responsive" src="http://pngimg.com/upload/volkswagen_PNG1794.png" alt="Volkswagen"> 
											</figure>
											<div class="col-md-12 text-center">
                                            	<a class="btn btn-danger" href="#">Empieza a financiarlo</a>
                                        	</div>
										</div>
									</div>
									{%endfor%}
								</div>
							</div>
						</div>
						<div role="tabpanel" class="tab-pane" id="profile">
							<h5>Mi perfil</h5>
							<div class="progress col-sm-12 col-md-12" style="margin-top:2%;">
		                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
		                            	60%
		                        </div>
		                    </div>
		                    <div class="col-md-12">
		                    	<form role="form" action="." method="post">
									{%csrf_token%}
									{{userform.as_p}}
									{{profile.as_p}}
									<input type="Submit" name="Guardar" placeholder="Guardar Tu Informacion">
								</form>
		                    </div>
						</div>
						<div role="tabpanel" class="tab-pane" id="pagos">
								Aún no cuentas con ningun pagó
						</div>
					</div>
				</article>

			</div>
		</div> <!--container-->
	</section>
{%endblock content%}