{%extends 'base.html'%}
{%load static%}

{%block title%}
	Registro
{%endblock title%}

{%block styles%}
	<style type="text/css">
  		section { padding-bottom: 600px; }
	</style>
{%endblock styles%}

{%block content%}


		<div class="container">
			<div class="row">
			<h1 class="text-center">Registro</h1>
			<br>
				<form role="form" action="." method="post">
					{%csrf_token%}
					<div class="form-group text-center">
						{{form.as_p}}
						<input type="submit" name="nuevo" placeholder="Crear Usuario">
					</div>
				</form>

				<br>

			<p class="text-center">Regresa a Iniciar Sesion <a href="/accounts/login">Aqui!</a></p>
			</div>
		</div>

		&nbsp;<br>

	
{%endblock content%}