{%load static%}

<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>{%block title %}Servicios Financieros Autonomo{%endblock title %}</title>	
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="{% static 'css/main.css'%}">
	{%block styles%}
	{%endblock styles%}

<body>
		<nav class="navbar navbar-default nava" role="navigation">
		  <!-- El logotipo y el icono que despliega el menú se agrupan
		       para mostrarlos mejor en los dispositivos móviles -->
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse"
		            data-target=".navbar-ex1-collapse">
		      <span class="sr-only">Desplegar Menú</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <figure class="logo">
		      <a href=".">
		        <img style="height:45px;margin:3px 0px 0px 0px;" src="{%static 'img/logo.png'%}">
		      </a>
		    </figure>
		  </div>
		 
		  <!-- Agrupar los enlaces de navegación, los formularios y cualquier
		       otro elemento que se pueda ocultar al minimizar la barra -->
		  <div  class="collapse navbar-collapse navbar-ex1-collapse right navaback" style="padding-right: 30px">
		    <ul class="nav navbar-nav navbar-right">
		      <li style="">
		      <a href="javascript:void(0)">
		      <button type="button" class="btn btn-primary btn-lg btn-circle" data-toggle="modal" data-target="#myModal">
		            ¿Como funciona?
		      </button>
		       </a>
		       </li>
		      <li>
		        <a href="#/cotizacion">
		          <button type="button" class="btn btn-primary btn-lg btn-circle">
		            Cotiza Tu Auto
		          </button>
		        </a>
		      </li>
		      <li class="liss">
		          <span style="cursor:pointer; margin-top: 30px">
		            Iniciar Sesión
		          </span>

		          <span style="cursor:pointer; margin-top: 10px">
		            <a href="#/perfil">
		            <img  style="width:40px;border-radius:90%;">
		            </a>
		            Cerrar Sesión
		          </span>
		      </li>
		    </ul>
		  </div>
		</nav>

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">¿Como funciona?</h4>
		      </div>
		      <div class="modal-body">
		        <!-- 16:9 aspect ratio -->
		        <div class="embed-responsive embed-responsive-16by9">
		          <iframe width="560" height="315" src="https://www.youtube.com/embed/a-D0II4FqCU" frameborder="0" allowfullscreen></iframe>
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		      </div>
		    </div>
		  </div>
		</div>

		



		{%block content%}
		{%endblock content%}




		<div class="container-fluid footer ">
				<div class="foott container">
				<footer class="respfooter">
				   	<div class="row">
				   		<div class="col-md-7 col-sm-7 col-xs-12" align="center">

							   		<div class="row">
							   			<div class="col-md-4 col-sm-4 col-xs-6">
							   				<img width="60%" src="Assets/img/logo_sin_texto.png" class="img-responsive img-footer" alt="">
							   					
							   			</div>
							   			<div class="col-md-8  col-sm-8 col-xs-6 text-justify text-footer text-muted">
							   					<span>Autónomo Servicios Financieros es la primer plataforma tecnológica en México enfocada en ofrecer soluciones para adquirir un vehículo.</span>
							   			</div>
							   			
							   		</div>	
				   			
				   		</div>
				    	<div class="container col-md-5 col-sm-5 col-xs-12" >

						    		<div class="row">
						    			
						    			<div class="col-md-6 col-sm-6 col-xs-6 text-center">
						    				
						    					<button type="button" class="btn btn-link" data-toggle="modal" data-target="#aboutUs">¿Quiénes somos?</button>  <br>
												<button type="button" class="btn btn-link" data-toggle="modal" data-target="#avisos"> Aviso de privacidad </button><br>
												<button type="button" class="btn btn-link" data-toggle="modal" data-target="#termcond"> Términos y condiciones</button>
						    			</div>
						    			<div class="col-md-6 col-sm-6 col-xs-6 text-center">
						    				
						    					<button type="button" class="btn btn-link" data-toggle="modal" data-target="#ComoFun">¿Cómo funciona?</button> <br>
												<button type="button" class="btn btn-link" data-toggle="modal" data-target="#faq">F.A.Q.</button><br>
												<button type="button" class="btn btn-link" data-toggle="modal" data-target="#contact">Contacto</button>
												
						    			</div>
						    		</div>
						
							
						</div>
						<div class="col-md-12 fgIcons">
							
								<ul>
								<li class="iFace"><a target="_blank" href="https://www.facebook.com/AutonomoSF/"><img src="/Assets/img/footer/facebook.png" alt=""></a></li>
								<li class="iTwitt"><a href=""><img src="Assets/img/footer/googleplus.png" alt=""></a></li>
								<li class="iGmail"><a href="https://twitter.com/Autonomo_SF"><img src="Assets/img/footer/twitter.png" alt=""></a></li>

								</ul>

						</div>
						<div class="col-md-12">
							<span class="text-muted text-center">
								<p>Autonomo Servicios Financieros S.A. de C.V. © 2016 | Todos los derechos reservados.</p>
								<!-- <small><em>Made by <a href="http://fixter.org">Fixter Geek</em></a></small> -->
							</span>
						</div>
					</div>
				</footer>
				</div>
		</div>


	

	<script src="{%static 'js/jquery-3.1.1.min.js' %}"></script>
	<script src="{%static 'js/bootstrap.js' %}"></script>
	{%block scripts%}
	{%endblock scripts%}

</body>
</html>