{%extends "base.html"%}
{%load static%}
{% load humanize %}

{%block styles%}

	<link rel="stylesheet" type="text/css" href="{%static 'css/vehicle_detail/_detail.css'%}">

{%endblock styles%}

{%block content%}




<div class="container adjust">



				{%for vehicle in vehicle%}



		<div class="row">
		  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		 		 <div class="row">
		 		 	
		 		 		<div class="col-md-12 text-center">

			 		 		<div class="d-img text-center">
						    	  <h1 class="py">{{vehicle.name}}</h1>
						    	  
						     <img  align="center"  width="400px"  src="/media/{{vehicle.img_front}}" > 
						   
							     
						    </div>
		 		 			
		 		 			
		 		 		</div>

		 		 </div>

		 		  <div class="row">
		 		 	
		 		 		<div class="col-md-3 text-center">
		 		 			<img width="60px" src="/media/{{vehicle.trademark.logo}}">
		 		 			
		 		 		</div>

		 		 		<div class="col-md-9">
		 		 			
		 		 			<p>{{vehicle.description_short}}</p>
		 		 			
		 		 		</div>

		 		 </div>




		    
		  </div>
		   





		</div>
	
		<div class="row">

			<h3 class="text-center">Versiones</h3>
			<br>
			<br>

			<div class="panel-group" id="accordion">

			

			{%for ver in version%}
			
				
				<div class="panel panel-default">

					<div class="panel-heading">
				      <h4 class="panel-title text-center">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
				        <strong>{{vehicle.name | upper}} - {{ver.version | upper}}</strong></a>
				      </h4>
				     
				    </div>

					<div id="collapse{{ forloop.counter }}" class="panel-collapse collapse in">
								<div class="col-md-12 ">

									<div class="row card_vehicle_versions">

										<div class=" text-center ">
										
										
										</div>	

										<div class="col-md-4">
											
											 <img  align="center"  class="img-responsive"  src="/media/{{ver.img_front}}" > 
										</div>
										<div class="col-md-8">
										<div class="row">
											<div class="col-md-12">

													<table class="table table-hover">
													    <thead>
													      <tr>
													        <th>Caracteristicas</th>
													        
													        
													      </tr>
													    </thead>
													    <tbody>
													      <tr>
													        <td>Año</td>
													        <td>2017</td>
													        <td>Transmision</td>
													        <td>
													        	Manual
													        </td>
													        
													      </tr>
													      <tr>
													        <td>Motor</td>
													        <td>{{ver.engine}} <i>lts.<i>
													  		</td>
													  		<td>HP</td>
													        <td>{{ver.hp}}hp
													        </td>
													      </tr>
													      <tr>
													      	<td>Cilindros</td>
													        <td>{{ver.cylinders_num}}
													        </td>
													        <td>Direccion</td>
													        <td>{{ver.hydraulic_power_steering}}
													        </td>										        
													      
													      </tr>
													      <tr>
													       <tr>
													        <td>Bluetooth</td>
													        <td>{%if ver.bluetooth %}
													        		<i class="fa fa-check-square-o text-success"></i> 
													        	{%else%}
													        		<i class="fa fa-times text-danger"></i> 
													        	{%endif%}</td>
													         <td>Vidrios electricos</td>
													        <td>{%if ver.electric_glasses %}
													        		<i class="fa fa-check-square-o text-success"></i> 
													        	{%else%}
													        		<i class="fa fa-times text-danger"></i> 
													        	{%endif%}</td>
										
													      </tr>
													        <td>Seguros electricos</td>
													        <td>{%if ver.electric_door_locks %}
													        		<i class="fa fa-check-square-o text-success"></i> 
													        	{%else%}
													        		<i class="fa fa-times text-danger"></i> 
													        	{%endif%}</td>
													        <td>Puertas</td>
													        <td>{{ver.doors_num}} Puertas</td>
													 
													      </tr>
													    </tbody>
													  </table>
												

											</div>
										</div>
										<div class="row">
											<div class="col-md-6">

											
													<h4 class="py text-info">48 Mensualidades </h4>

													<h2 class="text-center">${{ver.fee48|floatformat:2|intcomma}}</h2>
													<h4 class="py text-success">Cuota de inscripcion</h4>
													<h2 class="text-center">${{ver.fee_ins|floatformat:2|intcomma}}</h2>

													
													{%if request.user.is_authenticated%}
														<a class ="btn btn-danger btn-lg btn-block" href="{%url 'catalogo:agregarG' ver.pk %}">Agrega al Garage</a>

													{%else%}

														<a class ="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#myModal2">Agrega al Garage</a>

													{%endif%}
											</div>
											<div class="col-md-6">
													<h4 class="py text-info">60 Mensualidades </h4>
													<h2 class="text-center">${{ver.fee60|floatformat:2|intcomma}}</h2>
													<h4 class="py text-success">Cuota de inscripcion</h4>
													<h2 class="text-center">${{ver.fee_ins|floatformat:2|intcomma}}</h2>


													
														
													{%if request.user.is_authenticated%}
															<a class ="btn btn-danger btn-lg btn-block" href="{%url 'catalogo:agregarG' ver.pk %}">Agrega al Garage</a>

													{%else%}

															<a class ="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#myModal2">Agrega al Garage</a>
																

													{%endif%}


											</div>
										</div>
											
										</div>


										



									</div>

											

										
								</div>
				    	</div>
					</div>

				  {% empty %}

					<p>nada</p>

			 {%endfor%}

		
			</div> <!-- end panel group -->
		</div>

	


</div>

{%endfor%}


<!-- Modal -->
		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Registrate o inicia Sesion </h4>
		      </div>
		      <div class="modal-body">
		        <!-- 16:9 aspect ratio -->
		        <div class="row">
					<br>
						<div class="col-lg-12 col-md-12 text-center">
							<a href="{% url 'social:begin' 'facebook' %}">
								<button type="button" class="btn btn-primary btn-lg">
									<i class="fa fa-facebook" aria-hidden="true"></i>Facebook
								</button>
							</a>
						</div>

					&nbsp;<br>
						<div class="col-lg-12 col-md-12 text-center">
							<a href="{% url 'social:begin' 'twitter' %}">
								<button type="button" class="btn btn-info btn-lg">
									<i class="fa fa-twitter" aria-hidden="true"></i>Twitter
								</button>
							</a>
						</div>
			</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		      </div>
		    </div>
		  </div>
		</div>



	{%endblock content%} 




<!-- 

<div class="row">
		 		 	
		 		 		

		 		 		<div class="col-md-12">
		 		 	&nbsp;<br>
		 		 			
		 		 			<table class="table table-hover">
							    <thead>
							      <tr>
							        <th>Version {{ver.version}}</th>
							        
							        
							      </tr>
							    </thead>
							    <tbody>
							      <tr>
							        <td>Año</td>
							        <td>2017</td>
							        
							      </tr>
							      <tr>
							        <td>Linea</td>
							        <td>{{ver.version}}</td>
							  
							      </tr>
							      <tr>
							        <td>Numero de Puertas</td>
							        <td>{{ver.doors_num}}</td>
							      
							      </tr>
							      <tr>
							       <tr>
							        <td>Motor</td>
							        <td>2.0 litros de 115 CV</td>
				
							      </tr>
							        <td>Cilindros</td>
							        <td>4</td>
							 
							      </tr>
							    </tbody>
							  </table>
		 		 			
		 		 		</div>
		 		 		<div class="col-md-12">
		 		

		 		 			
		 		 			<article>
		 		 					<h3>Seguridad y Confort</h3>
		 		 					<p> Edición especial lanzada en el 2001, pintado en Reflex amarillo, un color ofrecido previamente en América del Norte se vende en Internet en modelo LE especial durante la primavera de 2000, y las características únicas de color gris con asientos de color azul brillante incluyendo el logotipo bordado del New Beetle. Esta edición incluía frenos ABS, Dirección asistida, Pintura metalizada, CD, Aire acondicionado, Elevalunas eléctricos, Aros, Airbag conductor, Airbag acompañante, Cierre centralizado, Retrovisores eléctricos, Asiento trasero abatible, Guía en cuero, Airbags laterales, Control de tracción, Control de estabilidad. Otras opciones de pintura eran, Negro, Marlin Blue Pearl; metallic - Ravenna Blue y Reflex Silver.</p>

		 		 					&nbsp;
		 		 					<br>
		 		 					<br>
		 		 					<br>

		 		 			</article>
		 		 			
		 		 		</div>
		 		 	


		 		 </div>

 -->

