{%extends "base.html"%}
{%load static%}
{% load humanize %}

{%block styles%}

	<link rel="stylesheet" type="text/css" href="{%static 'css/vehicle_detail/_detail.css'%}">

{%endblock styles%}

{%block content%}


<!--  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
 Indicators
 <ol class="carousel-indicators">
   <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
   <li data-target="#carousel-example-generic" data-slide-to="1"></li>
   <li data-target="#carousel-example-generic" data-slide-to="2"></li>
 </ol>

 Wrapper for slides
 <div class="carousel-inner" role="listbox">
   <div class="item active">
     <img src="http://localhost:8000/media/assets/vehicles/tsuru_XzImJxe.jpg" alt="...">
     <div class="carousel-caption">
       wrrwerwe
     </div>
   </div>
   <div class="item">
     <img src="http://localhost:8000/media/assets/vehicles/tsuru_XzImJxe.jpg" alt="...">
     <div class="carousel-caption">
       vnvnvn
     </div>
   </div>
   
 </div>

 Controls
 <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
   <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
   <span class="sr-only">Anterior</span>
 </a>
 <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
   <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
   <span class="sr-only">Siguiente</span>
 </a>
</div>
 -->


<div class="container adjust">







		<div class="row">
	  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	 		<div class="row">
	 			
	 				<div class="col-md-12 text-center">
	 		
	 					 		 		<div class="d-img text-center">
	 								    	  <h1 class="py">{{vehicle.name}}</h1>
	 								    	  
	 								     <img  align="center"    src="/media/{{vehicle.img_front}}" > 
	 								   
	 									     
	 								    </div>
	 					
	 					
	 				</div>
	 		
	 		</div> 
	
	 		  <div class="row">
	 		  <br>
	 		  <br>
	 		 	
	 		 		<div class="col-md-3 text-center">
	 		 			<img width="60px" src="/media/{{vehicle.trademark.logo}}">
	 		 			
	 		 		</div>
	
	 		 		<div class="col-md-9">
	 		 			
	 		 			<p>{{vehicle.description_short}}</p>
	 		 			
	 		 		</div>
	
	 		 </div>
	
	
	
	
	    
	  </div>
	   
	
	
	
	
	
	</div>
		 
		<div class="row">

			<h3 class="text-center">Versiones</h3>
			<br>
			<br>

		
			

			{%for ver in version%}


				<div class="col-md-6">


				<div class="row">
					
					<div class="col-md-12">


					  <h4 class="panel-title text-center">
				        <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
				        <strong>{{vehicle.name | upper}} - {{ver.version | upper}}</strong></a>
				      </h4>
						<br>
								    			<br>

					</div>

					<div class="col-md-12 text-center">
						
						 <img  align="center" height="200px"  src="/media/{{ver.img_front}}" > 
					</div>



					<div class="col-md-12 ">								

			&nbsp;<br>
									<!-- Nav tabs -->
								  <ul class="nav nav-tabs" role="tablist">
								    <li role="presentation" class="active"><a href="#48mounth{{forloop.counter}}" aria-controls="48mounth{{forloop.counter}}" role="tab" data-toggle="tab">48 Meses</a></li>
								    <li role="presentation"><a href="#60mounth{{forloop.counter}}" aria-controls="60mounth{{forloop.counter}}" role="tab" data-toggle="tab">60 Meses</a></li>
								   
								  </ul>

								  <!-- Tab panes -->
								  <div class="tab-content">
								    <div role="tabpanel" class="tab-pane active" id="48mounth{{forloop.counter}}">
								    	
								    	<div class="row">
								    	<br>
								    			<br>
								    					
								    		
								    		<div class="col-md-10 col-md-offset-1 text-center">



								    				<div class="row">
								    					
								    						<div class="col-md-6">

								    							<h4 class="py text-info">60 Mensualidades </h4>
																<h2 class="text-center">${{ver.fee48|floatformat:2|intcomma}}</h2>
								    							

								    						</div>

								    						<div class="col-md-6">
								    							<h4 class="py text-success">Cuota de inscripcion</h4>
																<h2 class="text-center">${{ver.fee_ins|floatformat:2|intcomma}}</h2>					    							
								    						</div>
								    				</div>
											
											<br>
								    			<br>
													
													
													{%if request.user.is_authenticated%}
														<a class ="btn btn-danger btn-lg btn-block" href="{%url 'catalogo:agregarG' ver.pk %}">Agrega al Garage</a>

													{%else%}

														<a class ="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#myModal2">Agrega al Garage</a>

													{%endif%}
											</div>
								    	</div>
								    </div>
								    <div role="tabpanel" class="tab-pane" id="60mounth{{forloop.counter}}">
								    	
								    		<div class="row">
								    			<br>
								    			<br>
								    			<div class="col-md-10 col-md-offset-1 text-center">

								    					<div class="row">
								    						
								    						<div class="col-md-6">

								    							<h4 class="py text-info">60 Mensualidades </h4>
																<h2 class="text-center">${{ver.fee60|floatformat:2|intcomma}}</h2>
								    							

								    						</div>

								    						<div class="col-md-6">
								    							<h4 class="py text-success">Cuota de inscripcion</h4>
																<h2 class="text-center">${{ver.fee_ins|floatformat:2|intcomma}}</h2>					    							
								    						</div>
								    					</div>
														
														<br>
								    			<br>

														
															
														{%if request.user.is_authenticated%}
																<a class ="btn btn-danger btn-lg btn-block" href="{%url 'catalogo:agregarG' ver.pk %}">Agrega al Garage</a>

														{%else%}

																<a class ="btn btn-danger btn-lg btn-block" data-toggle="modal" data-target="#myModal2">Agrega al Garage</a>
																	

														{%endif%}


												</div>
								    		</div>
								    </div>
								   
								  </div>



								  <div class="row card_vehicle_versions">

										

										
										<div class="col-md-12">
										<div class="row">
											<div class="col-md-12">
												&nbsp;<br>

													<table class="table table-hover">
													    <thead>
													      <tr>
													        <th>Caracteristicas</th>
													        
													        
													      </tr>
													    </thead>
													    <tbody>
													      <tr>
													        <td>Año</td>
													        <td>2017</td>
													        <td>Transmision</td>
													        <td>
													        	Manual
													        </td>
													        
													      </tr>
													      <tr>
													        <td>Motor</td>
													        <td>{{ver.engine}} <i>lts.<i>
													  		</td>
													  		<td>HP</td>
													        <td>{{ver.hp}}hp
													        </td>
													      </tr>
													      <tr>
													      	<td>Cilindros</td>
													        <td>{{ver.cylinders_num}}
													        </td>
													        <td>Direccion</td>
													        <td>{{ver.hydraulic_power_steering}}
													        </td>										        
													      
													      </tr>
													      <tr>
													       <tr>
													        <td>Bluetooth</td>
													        <td>{%if ver.bluetooth %}
													        		<i class="fa fa-check-square-o text-success"></i> 
													        	{%else%}
													        		<i class="fa fa-times text-danger"></i> 
													        	{%endif%}</td>
													         <td>Vidrios electricos</td>
													        <td>{%if ver.electric_glasses %}
													        		<i class="fa fa-check-square-o text-success"></i> 
													        	{%else%}
													        		<i class="fa fa-times text-danger"></i> 
													        	{%endif%}</td>
										
													      </tr>
													        <td>Seguros electricos</td>
													        <td>{%if ver.electric_door_locks %}
													        		<i class="fa fa-check-square-o text-success"></i> 
													        	{%else%}
													        		<i class="fa fa-times text-danger"></i> 
													        	{%endif%}</td>
													        <td>Puertas</td>
													        <td>{{ver.doors_num}} Puertas</td>
													 
													      </tr>
													    </tbody>
													  </table>
												

											</div>
										</div>
										
											
										</div>


										



									</div>

											

										
						</div>

					&nbsp;<br>
					<br>


				</div>
					


				</div>
			
				
				

				  {% empty %}

					<p>nada</p>

			 {%endfor%}

		
			
		</div>

	


</div>




<!-- Modal -->
		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">Registrate o inicia Sesion </h4>
		      </div>
		      <div class="modal-body">
		        <!-- 16:9 aspect ratio -->
		        <div class="row">
					<br>
						<div class="col-md-10 col-md-offset-1 text-center">
							<a href="{% url 'social:begin' 'facebook' %}">
								<button type="button" class="btn btn-primary btn-block">
									<i class="fa fa-facebook" aria-hidden="true"></i> Facebook
								</button>
							</a>
						</div>

					&nbsp;<br>
					&nbsp;<br>
				
						<div class="col-md-10 col-md-offset-1 text-center">
							<a href="{% url 'social:begin' 'twitter' %}">
								<button type="button" class="btn btn-info btn-block">
									<i class="fa fa-twitter" aria-hidden="true"></i> Twitter
								</button>
							</a>
						</div>

						&nbsp;<br>
					&nbsp;<br>
					&nbsp;<br>

						<div class="col-md-10 col-md-offset-1">
							
							<form action="{%url 'accounts:login' %}" method="POST">
							{%csrf_token%}

							<div class="form-group">
							<label>Usuario</label>
							
							<input class="form-control" id="id_username" maxlength="254" name="username" type="text" required="" placeholde="Usuario">

							

							</div>
							<div class="form-group">
							<label>Contraseña</label>

								<input class="form-control" id="id_password" name="password" type="password" required="" placeholde="Contraseña">
							</div>
								
								
								<input class="btn btn-danger btn-block" type="submit" value="Iniciar Sesion" name="">
							</form>
							
						</div>	


			</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
		      </div>
		    </div>
		  </div>
		</div>



	{%endblock content%} 




<!-- 

<div class="row">
		 		 	
		 		 		

		 		 		<div class="col-md-12">
		 		 	&nbsp;<br>
		 		 			
		 		 			<table class="table table-hover">
							    <thead>
							      <tr>
							        <th>Version {{ver.version}}</th>
							        
							        
							      </tr>
							    </thead>
							    <tbody>
							      <tr>
							        <td>Año</td>
							        <td>2017</td>
							        
							      </tr>
							      <tr>
							        <td>Linea</td>
							        <td>{{ver.version}}</td>
							  
							      </tr>
							      <tr>
							        <td>Numero de Puertas</td>
							        <td>{{ver.doors_num}}</td>
							      
							      </tr>
							      <tr>
							       <tr>
							        <td>Motor</td>
							        <td>2.0 litros de 115 CV</td>
				
							      </tr>
							        <td>Cilindros</td>
							        <td>4</td>
							 
							      </tr>
							    </tbody>
							  </table>
		 		 			
		 		 		</div>
		 		 		<div class="col-md-12">
		 		

		 		 			
		 		 			<article>
		 		 					<h3>Seguridad y Confort</h3>
		 		 					<p> Edición especial lanzada en el 2001, pintado en Reflex amarillo, un color ofrecido previamente en América del Norte se vende en Internet en modelo LE especial durante la primavera de 2000, y las características únicas de color gris con asientos de color azul brillante incluyendo el logotipo bordado del New Beetle. Esta edición incluía frenos ABS, Dirección asistida, Pintura metalizada, CD, Aire acondicionado, Elevalunas eléctricos, Aros, Airbag conductor, Airbag acompañante, Cierre centralizado, Retrovisores eléctricos, Asiento trasero abatible, Guía en cuero, Airbags laterales, Control de tracción, Control de estabilidad. Otras opciones de pintura eran, Negro, Marlin Blue Pearl; metallic - Ravenna Blue y Reflex Silver.</p>

		 		 					&nbsp;
		 		 					<br>
		 		 					<br>
		 		 					<br>

		 		 			</article>
		 		 			
		 		 		</div>
		 		 	


		 		 </div>

 -->

